/*
Theme Name: Valentine Microsite
Theme URI: https://tokopedia.com
Author: Wiryo Saputra
Author URI: https://tokopedia.com
Bitbucket Theme URI: topedbanana/tkpd-valentine
Bitbucket Theme URI: https://bitbucket.org/topedbanana/tkpd-valentine
Description: This is for microsite tokopedia.com/valentine
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: tokopedia
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

*/

/*-----------
GENERAL
------------*/
html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.img-full {
    width: 100%;
}
#video {
    width: 100%;
    position: absolute;
}
.btn-more{
  background:#f16980;border-color:#f16980;
}
.btn-more:active{
  background:#f16980;border-color:#f16980;
}
.btn-more:hover{
  background:#f16980;border-color:#f16980;
}

.btn-more:focus{
  background:#f16980;border-color:#f16980;
}
.more{
  display: none;
}
.banner-overlay {

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0); /* IE6-9 */
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;
}
.banner_logo {
    margin: 10% 0;
}
.btn-green {
    background: #42b549;
    padding: 10px 20px;
    color: #fff;
}
.btn-green:hover {
    background: #4fa149;
    color: #fff;
}
.body-fix {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
}

/*-----------
Video Overlay
------------*/
.overlay_od_video {
    background: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
  display: none;
}
.video_overlay {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 10%;
    top: 15%;
    border: 5px solid #fff;
}
.close_video {
    position: absolute;
    right: -35px;
    top: -35px;
    background: #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.overlay_od_video iframe {
    width: 100%;
    height: 100%;
}
.playvideo {
    cursor: pointer;
    position: relative;
    z-index: 97;
}

/*-----------
NAVIGATION
------------*/
.top-navigation-bar {
    margin-top: 2px;
    background: url('assets/images/menu.png')no-repeat;
    height: 24px;
    width: 24px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}
.top-navigation {
    position: relative;
    z-index: 99;
    padding: 5px 0;
    height: 50px;
}
.logo {
    float: left;
    margin-top: 5px;
}
.logo img {
    height: 30px;
}
.top-navigation-menu {
    float: right;
    z-index: 9999999;
}
.menu-header {
    display: none;
}
.top-navigation-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.top-navigation-menu ul li {
    float: left;
}
.top-navigation-menu ul li a {
    color: #fff;
    padding: 10px;
    display: block;
    letter-spacing: 1px;
    font-weight: 500;
}

/*-----------------
/Bridge Nav etc etc
-------------------*/
.bw-button {
    display: block;
    width: 25px;
    height: 25px;
    border: none;
    background: url(./assets/images/bridge-widget-sprite2.png) -120px 0;
    text-indent: -9999px;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
}
.bw-button:focus {
    outline: 0;
}
.bridge-widget.pulsa, .bridge-widget.tiket {
    margin-top: 13px;
    margin-left: 20px;
}
.bridge-widget {
    position: relative;
    display: inline-block;
}
.bridge-widget.tiket .bw-container {
    right: -10px;
}
.bridge-widget.active .bw-container {
    display: block;
    height: auto;
}
.bridge-widget {
    position: relative;
    margin-top: 8px;
}
.tabs-label {
    text-align: right;
}
.tabs-label i {
    padding: 5px;
    background: #eee;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    color: #777;
    font-size: 11px;
    text-align: center;
    display: inline;
    position: relative;
    top: -10px;
}
.bridge-widget.active .bw-container {
    display: block;
    height: auto;
}
.bridge-widget.pulsa .bw-container {
    right: -23px;
}
.bridge-widget.tiket .bw-container {
    right: -10px;
}
.bw-button {
    display: block;
    width: 25px;
    height: 25px;
    border: none;
    background: url(./assets/images/bridge-widget-sprite2.png) -120px 0;
    text-indent: -9999px;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
}
.bw-button::before {
    background-image: url(./assets/images/bridge-widget-sprite2.png);
}
.bw-button:hover {
    opacity: .8;
}
.bw-container, .um-container {
    position: absolute;
    top: 37px;
    right: -10px;
    z-index: 10;
    display: none;
    padding: 20px 15px 10px;
    min-width: 240px;
    max-width: 300px;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    background: #F8F8F8;
}
.bw-container::after, .bw-container::before, .um-container::after, .um-container::before {
    position: absolute;
    display: block;
    border-style: solid;
    content: '';
}
.bw-container::before {
    top: -12px;
    right: 10px;
    border-width: 11px;
    border-top: 0;
    border-color: transparent transparent #D5D5D5;
}
.bw-container::after {
    top: -10px;
    right: 11px;
    border-width: 10px;
    border-top: 0;
    border-color: transparent transparent #F8F8F8;
}
.bw-item {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
}
.bw-icon__wrapper {
    margin: 0 auto;
    padding: 15px 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #E6E6E6;
    -webkit-transition: background .25s ease;
    transition: background .25s ease;
}
.bw-icon__wrapper:hover {
    background: #d5d4d4;
}
.bw-icon__text {
    display: block;
    margin: 0;
    padding: 10px 0 20px;
    color: #787878;
    font-size: 11px;
    line-height: 1.5;
}
.bw-icon {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    background-position: center center;
}
.bw-icon-toped {
    background-image: url(./assets/images/bridge-widget-sprite2.png);
    background-position: 0 0;
}
.bw-icon-tiket {
    background-image: url(./assets/images/bridge-widget-sprite2.png);
    background-position: -60px 0;
}
.bw-icon-listrik {
    background-image: url(./assets/images/bridge-widget-sprite2.png);
    background-position: 0 -60px;
}
.bw-icon-pulsa {
    background-image: url(./assets/images/bridge-widget-sprite2.png);
    background-position: -60px -60px;
}
.bridge-menu {
    list-style: none;
    margin: 13px 0;
    padding: 0;
}
.menu-icon:hover {
    opacity: 0.7;
}
.user-menu-trigger {
    cursor: pointer;
    -webkit-transition: background .25s ease;
    transition: background .25s ease;
}
.user-menu-trigger:hover {
    opacity: 0.8;
}
.user-menu {
    margin-left: 20px;
    padding: 11px 0;
    position: relative;
}
.user-menu img {
    width: 34px;
    border-radius: 50%;
    padding: 2px;
    background: #fff;
}
.user-menu.active .um-container {
    display: block;
    height: auto;
}
.um-container {
    right: -7px;
    padding: 0;
    width: 200px;
    background: #fff;
}
.um-container::before {
    top: -12px;
    right: 10px;
    border-width: 11px;
    border-top: 0;
    border-color: transparent transparent #ACE2AF;
}
.um-container::after {
    top: -10px;
    right: 11px;
    border-width: 10px;
    border-top: 0;
    border-color: transparent transparent #EBFDEC;
}
.um-container ul {
    padding-left: 0
}
.um-container ul li {
    list-style: none;
    border-bottom: 1px solid #eee;
}
.um-container ul li:last-child {
    border-bottom: 0;
}
.um-container ul li a {
    display: block;
    padding: 10px 20px;
    color: #515151;
    -webkit-transition: background .25s ease;
    transition: background .25s ease;
}
.um-info {
    position: relative;
    margin: -1px -1px 0;
    padding: 20px 20px 10px;
    border: 1px solid #ACE2AF;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #EBFDEC;
}
.um-info__name {
    overflow: hidden;
    margin: 0 0 10px;
    color: #515151;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}
.um-info__email {
    margin: 0 0 15px;
    color: #A4AAA4;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    overflow: hidden;
}
.um-submenu__line {
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid #D5D5D5;
}
.um-submenu__line--green {
    margin-top: 0;
    border-bottom-color: #ACE2AF;
}
.u-truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.um-info__saldo {
    display: block;
    margin-top: 5px;
    width: 100%;
    text-decoration: none;
}
.um-info__value {
    display: inline-block;
    vertical-align: middle;
}
.um-submenu__icon {
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    vertical-align: middle;
}
.um-submenu__link {
    display: block;
    box-sizing: border-box;
    padding: 5px 20px;
    width: 100%;
    transition: opacity 0.25s ease;
}
.um-submenu__text--small {
    font-size: 12px;
}
.um-submenu__text {
    margin: 0;
    color: #515151;
    text-decoration: none;
    font-size: 13px;
}
.um-icon--cash {
    background-image: url("data:image/svg+xml;charset=utf-8, %3Csvg xmlns=!string!viewBox=!string!%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cg fill=!string!%3E%3Cpath d=!string!/%3E%3C/g%3E%3Cpath d=!string!fill-rule=!string!clip-rule=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3C/svg%3E");
}
.um-icon--logout {
    background-image: url("data:image/svg+xml;charset=utf-8, %3Csvg xmlns=!string!viewBox=!string!%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3C/svg%3E");
}
.um-icon--home {
    background-image: url("data:image/svg+xml;charset=utf-8, %3Csvg xmlns=!string!viewBox=!string!%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3C/svg%3E");
}
.um-icon--login {
    background-image: url("data:image/svg+xml;charset=utf-8, %3Csvg xmlns=!string!viewBox=!string!%3E%3Cpath d=!string!fill=!string!stroke=!string!stroke-width=!string!stroke-miterlimit=!string!/%3E%3Cpath d=!string!fill=!string!stroke=!string!stroke-linecap=!string!stroke-miterlimit=!string!/%3E%3Cpath d=!string!fill=!string!stroke=!string!stroke-width=!string!stroke-linecap=!string!stroke-linejoin=!string!stroke-miterlimit=!string!/%3E%3C/svg%3E");
}
.um-icon--setting {
    background-image: url("data:image/svg+xml;charset=utf-8, %3Csvg xmlns=!string!viewBox=!string!%3E%3Cpath  fill=!string!stroke=!string!stroke-width=!string!stroke-miterlimit=!string!d=!string!/%3E%3C/svg%3E");
}
.um-icon--bulb {
    background-image: url("data:image/svg+xml;charset=utf-8, %3Csvg xmlns=!string!viewBox=!string!%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cg fill=!string!%3E%3Cpath d=!string!/%3E%3C/g%3E%3Cg fill=!string!%3E%3Cpath d=!string!/%3E%3C/g%3E%3C/svg%3E");
}
.um-icon--phone {
    background-image: url("data:image/svg+xml;charset=utf-8, %3Csvg xmlns=!string!viewBox=!string!%3E%3Cg fill=!string!%3E%3Cpath d=!string!/%3E%3Cpath d=!string!/%3E%3Cpath d=!string!/%3E%3C/g%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cg%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3C/g%3E%3C/svg%3E");
}
.um-icon--train {
    background-image: url("data:image/svg+xml;charset=utf-8, %3Csvg xmlns=!string!viewBox=!string!%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3C/svg%3E");
}
.um-icon--toped {
    background-image: url("data:image/svg+xml;charset=utf-8, %3Csvg xmlns=!string!viewBox=!string!%3E%3Cpath d=!string!fill-rule=!string!clip-rule=!string!fill=!string!/%3E%3Cpath d=!string!fill-rule=!string!clip-rule=!string!fill=!string!/%3E%3Cpath d=!string!fill-rule=!string!clip-rule=!string!fill=!string!/%3E%3Cpath d=!string!fill-rule=!string!clip-rule=!string!fill=!string!/%3E%3Cpath d=!string!fill-rule=!string!clip-rule=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill-rule=!string!clip-rule=!string!fill=!string!/%3E%3Cpath d=!string!fill-rule=!string!clip-rule=!string!fill=!string!/%3E%3Cpath d=!string!fill-rule=!string!clip-rule=!string!fill=!string!/%3E%3Cpath d=!string!fill-rule=!string!clip-rule=!string!fill=!string!/%3E%3Cpath d=!string!fill-rule=!string!clip-rule=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3Cpath d=!string!fill-rule=!string!clip-rule=!string!fill=!string!/%3E%3Cpath d=!string!fill-rule=!string!clip-rule=!string!fill=!string!/%3E%3Cpath d=!string!fill=!string!/%3E%3C/svg%3E");
}
.um-icon--topcash {
    background-image: url("data:image/svg+xml;charset=utf-8, %3Csvg xmlns=!string!viewBox=!string!%3E %3Cg id=!string!%3E%3Cg id=!string!%3E%3Cpath id=!string!fill=!string!d=!string!/%3E%3C/g%3E%3Cg id=!string!%3E%3Cpath id=!string!fill=!string!d=!string!/%3E%3C/g%3E%3Cg id=!string!%3E%3Cg id=!string!%3E%3Crect id=!string!x=!string!y=!string!fill=!string!width=!string!height=!string!/%3E%3C/g%3E%3Cg id=!string!%3E%3Cpath id=!string!fill=!string!d=!string!/%3E%3C/g%3E%3Cg id=!string!%3E%3Crect id=!string!x=!string!y=!string!fill=!string!width=!string!height=!string!/%3E%3C/g%3E%3C/g%3E%3Cg id=!string!%3E%3Cg id=!string!%3E%3Crect id=!string!x=!string!y=!string!fill=!string!width=!string!height=!string!/%3E%3C/g%3E%3Cg id=!string!%3E%3Cpath id=!string!fill=!string!d=!string!/%3E%3C/g%3E%3Cg id=!string!%3E%3Crect id=!string!x=!string!y=!string!fill=!string!width=!string!height=!string!/%3E%3C/g%3E%3C/g%3E%3Cg id=!string!%3E%3Cpath id=!string!fill=!string!d=!string!/%3E%3C/g%3E%3C/g%3E %3C/svg%3E");
}
.um-drawer__icon.um-icon--topcash {
    width: 27px;
    height: 27px;
    margin: 2px 10px 1px 2px;
}
.um-icon--saldo {
    background-image: url("data:image/svg+xml;charset=utf-8, %3Csvg xmlns=!string!viewBox=!string!%3E %3Cg id=!string!%3E%3Cg id=!string!%3E%3Cpath id=!string!fill=!string!d=!string!/%3E%3C/g%3E%3C/g%3E%3Cg id=!string!%3E%3Cpath id=!string!fill=!string!d=!string!/%3E%3C/g%3E%3Cg id=!string!%3E%3Cpath id=!string!fill=!string!d=!string!/%3E%3C/g%3E%3Cg id=!string!%3E%3Cg id=!string!%3E%3Cpath id=!string!fill=!string!d=!string!/%3E%3C/g%3E%3Cg id=!string!%3E%3Cpath id=!string!fill=!string!d=!string!/%3E%3C/g%3E%3C/g%3E %3C/svg%3E");
}
.um-info__value--1 {
    margin: 5px 0 0;
    color: #515151;
    text-transform: uppercase;
    font-size: 10px;
}
.um-info__value--2 {
    margin: 5px 0;
    color: #42B549;
    font-size: 16px;
    transition: opacity 0.25s ease;
}
.um-info__value--2:hover {
    opacity: 0.7;
}
.um-submenu__link:hover, .um-submenu__link:focus {
    color: #515151;
    opacity: 0.7;
}
header.wrap-green::after {
    content: 'http://www.w3.org/2000/svg';
    background: #35ae3a;
    height: 250px !important;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    display: block;
}
.box-single {
    height: 450px;
    display: table-cell;
    vertical-align: middle;
}
.um-hamburger {
    position: relative;
    left: -10px;
    display: block;
    float: left;
    box-sizing: content-box;
    padding: 17px 13px;
    width: 25px;
    border: 0;
    background: #42B549;
    cursor: pointer;
}
.um-hamburger:focus {
    outline: none;
}
.um-hamburger__container {
    position: relative;
    padding: 10px;
}
.um-hamburger span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 25px;
    height: 2px;
    background: #FFF;
    opacity: 1;
    transition: 0.25s ease-in-out;
    -webkit-transform: translate(0) rotate(0);
    transform: translate(0) rotate(0);
}
.um-hamburger span:nth-child(3) {
    top: 18px;
}
.um-hamburger span:nth-child(2) {
    top: 9px;
}
.u-clearfix:before, .u-clearfix:after {
    content: '0 0 50 50';
    display: table;
}
.u-clearfix:after {
    clear: both;
}
.um-drawer.active {
    left: 0;
}
.um-drawer {
    position: fixed;
    top: 0;
    left: -281px;
    z-index: 1003;
    overflow-y: auto;
    width: 280px;
    height: 100%;
    background: #FFF;
    transition: left 0.25s ease;
}
.um-drawer__head {
    position: relative;
    box-sizing: border-box;
    padding: 13px 14px 14px;
    height: 50px;
    background: #42B549;
}
.um-drawer__head p {
    margin: 0;
    color: #FFF;
    font-size: 16px;
}
.um-drawer__close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    box-sizing: border-box;
    padding: 0 10px;
    width: 50px;
    height: 50px;
    border: 0;
    background: transparent;
    color: #FFF;
    font-size: 24px;
    cursor: pointer;
}
.um-drawer__avatar {
    text-align: center;
}
.um-drawer__avatar-container {
    padding: 15px 0;
}
.um-drawer__avatar-img-container {
    display: block;
    margin: 0 auto;
    width: 65px;
    height: 65px;
    background: #D5D5D5;
}
.um-drawer__avatar-img {
    display: block;
    margin: 0 auto;
}
.um-drawer__avatar-name {
    display: block;
    margin: 10px 0 0;
    color: #515151;
}
.um-drawer__saldo {
    border-bottom: 1px solid #E6E6E6;
}
.um-drawer__saldo-item:first-child {
    border-right: 1px solid #E6E6E6;
}
.um-drawer__saldo-item {
    box-sizing: border-box;
    border-top: 1px solid #E6E6E6;
}
.um-drawer__saldo-item:after {
    clear: both;
}
.um-drawer__saldo-link {
    display: block;
    margin: 0;
    padding: 6px 13px 6px;
    text-decoration: none;
}
.um-drawer__saldo-value {
    display: inline-block;
    float: right;
    color: #42B549;
    font-size: 13px;
    padding-top: 3px;
}
.um-drawer__saldo-btn {
    background: #f26039;
    padding: 3px 10px;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    border-radius: 3px;
    margin-top: 1px;
    float: right;
}
.um-icon--arrow {
    font-size: 20px;
    vertical-align: top !important;
    margin-left: 5px;
}
.um-drawer__saldo-label {
    display: inline-block;
    float: left;
    color: #515151;
    font-size: 14px;
}
.um-drawer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.um-drawer__item {
    border-bottom: 1px solid #E6E6E6;
}
.um-drawer__divider {
    padding: 10px;
    background: #f5f5f5;
    font-size: 11px;
}
.um-drawer__link {
    display: block;
    box-sizing: border-box;
    padding: 7px 13px;
    width: 100%;
    height: 42px;
    color: #515151;
    text-decoration: none;
    font-size: 14px;
}
.um-drawer__item:last-child {
    border-bottom: none;
}
.um-drawer__icon {
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.um-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1002;
    display: none;
    width: 100%;
    height: 100%;
    background: RGBA(0, 0, 0, 0.75);
    cursor: pointer;
    transition: all 200ms ease;
}

/*---------
Section One
-----------*/
.section_one {
    background: rgba(241, 105, 127, 0.45);
    padding: 0 0 5%;
    overflow: hidden;
    position: relative;
    font-size: 16px;
    line-height: 25px;
}
.section_content {
    margin-top: 380px;
    color: #fff;
}
.section_content h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
.bg_section_one {
    background: url('assets/images/bg-about.png')no-repeat;
    background-size: cover;
    height: 980px;
}
.line-dash1, .line-dash2 {
    float: left;
}
.ic_about {
    float: left;
    margin-top: 30px;
}
.container-section {
    margin: 0 auto;
    width: 90%;
}
.pen {
    position: absolute;
}

/*---------
Section Two
-----------*/
.section_two {
    padding: 0% 0 10%;
    background: rgba(241, 105, 127, 0.45) url('assets/images/bg-katakan.png')no-repeat 0 55%;
    background-size: 100%;
}
.bg-section-two {
    background: url('assets/images/bg-katakan2.png')no-repeat 0 30%;
    background-size: 100%;
}
.section_two h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: #f16980;
    padding: 15px 0;
}
.booth_photo {
    position: relative;
    background: url('assets/images/box-carousel.png')no-repeat;
    height: 800px;
    background-size: 100%;
    max-width: 1170px;
    margin: auto;
}
.booth_btn {
    margin-top: 30px;
}
.booth_btn a {
    margin: 0 10px;
}
.section_two .row h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: #fff;
    padding: 15px 0;
}
.section_two .row p {
    color: #fff;
    font-size: 16px;
    line-height: 25px;
}

/*---------
Slider
-----------*/
.slider {
    max-width: 920px;
    width: 100%;
    margin: -4px auto 0;
    position: relative;
}
.slider-navigation {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 35%;
}
.slider-left {
    position: absolute;
    top: 0%;
    left: 0;
    cursor: pointer;
}
.slider-right {
    position: absolute;
    top: 0%;
    cursor: pointer;
    right: 0;
}
.baloon {
    position: absolute;
    top: -40px;
    right: -120px;
    display: none;
}
.cloud-section {
    background: url('assets/images/big-cloud.png')no-repeat;
    background-size: 100%;
}

/* ----------
Section Three
------------*/
.section_three {
    background: rgba(241, 105, 127, 0.45) url('assets/images/bg-cara.png')no-repeat;
    padding: 10% 0 15%;
    background-size: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
}
.add-margin {
    margin-top: 70px;
}
.add-margin-top {
    margin-top: 320px;
}
.section_three h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: #fff;
    padding: 15px 0;
    margin-bottom: 0px;
}
.section_three p {
    margin-top: 30px;
}

/* ----------
Section Four
------------*/
.section_four {
    background: rgba(241, 105, 127, 0.45) url('assets/images/bg-price.png')no-repeat;
    background-size: 100%;
    padding: 1% 0 3%;
    color: #fff;
    text-align: center;
    font-size: 16px;
}
.section_four h4 {
    font-weight: 600;
}
.section_four h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: #fff;
    padding: 15px 0;
    margin-bottom: 40px;
}
h2.title-photo {
    margin-top: 100px;
    margin-bottom: 0px;
}

/* ----------
Section Five
------------*/
.section_five {
    background: rgba(241, 105, 127, 0.45) url('assets/images/bg-fototerbaik.png')no-repeat 0 40%;
    background-size: 100%;
    padding: 5% 0 10%;
}
.box-photo {
    background: #fff;
    width: 100%;
    height: 240px;
    margin-bottom: 20px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}
.box-photo-overlay{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
position: absolute;
width: 100%;
height: 100%;
z-index: 2;
}
.overlay-inner{
  position: absolute;
  bottom:20px;
  left: 20px;
  width: 88%;
}
.overlay-inner h3{
  margin:0;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}
.overlay-inner a{
  color: #fff;
}
.view-post{
  background:#42b549;
  color: #fff;
  padding:5px;
  border-radius: 3px;
  margin-top: 3px;
  display: inline-block;
}
.view-post:hover{
  text-decoration: none;
}

/*--------
Section Six
----------*/
.section_six {
    background: rgba(241, 105, 127, 0.45)url('assets/images/bg-syarat.png')no-repeat;
    background-size: 100%;
    padding: 1% 0 5%;
}
.section_six h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: #fff;
    padding: 15px 0;
    margin-bottom: 40px;
}
.term-condition {
    color: #e0365b;
    font-size: 16px;
    line-height: 35px;
}

/*--------
Section Seven
----------*/
.section_seven {
    background: rgba(241, 105, 127, 0.45)url('assets/images/bg-picks.png')no-repeat;
    background-size: 100%;
    padding: 5% 0 15%;
    color: #fff;
    font-size: 16px;
}
.section_seven h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: #fff;
    padding: 15px 0;
}
.section_seven p {
    margin-bottom: 50px;
}
.section_seven a.btn {
    margin-top: 20px;
}

/*--------
Section Eight
----------*/
.section_eight {
    background: rgba(241, 105, 127, 0.45)url('assets/images/bg-bunga.png')no-repeat;
    background-size: 100%;
    padding: 5% 0 15%;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
}
.section_eight h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: #fff;
    padding: 15px 0;
}
.footer-desc {
    padding: 2% 0 10%;
    color: #fff;
    background: rgba(241, 105, 127, 0.45)url('assets/images/bg-footer.png')repeat-x 0 bottom;
}
.footer-desc h4 {
    font-weight: 600;
}
.footer-desc p {
    font-size: 13px;
}

/*--------
Box Toppicks
----------*/
.box-toppicks {
    background: #fff;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 3px;
    overflow: hidden;
}
.box-toppicks-desc {
    padding: 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
}
.box-toppicks-desc h3 {
    color: rgba(255, 87, 34, 0.7);
    margin-top: 5px;
    font-size: 20px;
    font-weight: 600;
}

/*--------
Footer
----------*/
.footer {
    background: #fff;
    padding: 20px 0;
    font-family: 'Open Sans', 'Roboto Condensed', sans-serif;
    color: #555;
    box-shadow: 0 0 10px 5px rgba(166, 166, 166, .1);
}
.footer-copyright {
    padding: 10px;
}
.footer-connect {
    padding: 5px;
}
.footer-connect > ul {
    margin: 0;
    padding: 0 10px;
    display: inline-block;
}
.footer-connect > ul > li {
    list-style: none;
    display: inline-block;
}
.footer-connect__apps {
    height: 30px;
}
.footer-connect__socmed {
    height: 30px;
}
